@import "lab3partials/reset";
@import "lab3partials/variables";
@import "lab3partials/mixins";

body {
    font-family:$myfont
}
img {
    max-width:100%;
    @include corners;
}
.textlocation {
    text-align:center;
}
.secondoutline {
    border:1px solid #e89b6a;
}
header {
    @include orangebackground;
    @extend .textlocation;
    padding:10px;
}
.newrecipebox {
    color:$mycolor4;
    @include flexrow;
}
.newsletterbox {
    @extend .textlocation;
    @include corners;
    background-color:$bgcolor3;
    margin:10px;
}
.newsletterbox {div {form {input {@extend .secondoutline;}}}}
.pageimage {
    margin:0% 10%;
    max-width:90%;
    @include flexrow;
    @include corners;
}
.aboutbox {
    @extend .textlocation;
}
.button {
    display:inline-block;
    padding:5px;
    @include orangebackground;
    @include corners;
}
h2 {
    color:$mycolor4;
}

.oldrecipebox {
    color:$mycolor4;
    @include flexrow;
}
footer {
    @extend .textlocation;
    background-color:$mybgcolor;
    color:$mycolor2;
    padding:10px;
}
.example, .exampletitle{
    @include imagebox;
    @include corners;
    @extend .textlocation;
}
.example {
    @include boxshadows;
    margin:5px;
}
nav {
    @include flexrow;
    padding:10px;
    transition:transform 0.1s;
}
nav {a{
    flex:1;
    text-align:center;
}}
nav {a:hover{
    transform:scale(1.5)
}}